.albums{
  width:100%;
}
.albumCover{
  width: 48.7%;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  text-decoration:none;
  color:black;
  margin-bottom:5px;
  transition:.2s all;
  overflow:hidden;
  background-color:rgba(0,0,0,0.1);
  &:hover{
    background-color: #eee;
    transform: translate3d(0px, -2%, 3em) scale(.95);
  }
  h2{
    padding: 30%;
    text-align:center;
    background-color:rgba(238, 238, 238, 0.4);
    transition:.2s all;
    &:hover{
      background-color:rgba(238, 238, 238, 0.9);
    }
  }
  img{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -1000;
    transition:.2s all;
  }
}
