* {
  padding: 0; }

body {
  background: #eee; }

section {
  display: none; }

.active {
  display: inline-block; }

.toggle {
  display: none; }

.show {
  display: inline-block; }

nav li {
  display: inline; }

nav a {
  text-decoration: none;
  color: blue;
  font-weight: 600; }
  nav a:hover {
    color: green; }
