.albums {
  width: 100%; }

.albumCover {
  width: 48.7%;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  transition: .2s all;
  overflow: hidden;
  background-color: rgba(238, 238, 238, 0.7); }
  .albumCover:hover {
    transform: translate3d(0px, -2%, 3em) scale(0.95); }
  .albumCover h2 {
    padding: 30%;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.7);
    transition: .2s all; }
    .albumCover h2:hover {
      color: transparent;
      background-color: rgba(238, 238, 238, 0.1); }
  .albumCover img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: -1000; }

.photo {
  width: 100%;
  overflow: hidden; }

.photoThumb {
  width: 49%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #eee;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase; }

.container {
  width: 85%;
  margin: 0 auto; }

section {
  display: none;
  width: 100%; }

.active {
  display: inline-block;
  transition: .2s all; }

.toggle {
  display: none;
  transition: .2s all; }

.show {
  display: inline-block;
  transition: .2s all; }

nav {
  width: 85%;
  margin: 0 auto; }
  nav li {
    display: inline; }
  nav a {
    text-decoration: none;
    color: blue;
    font-weight: 600; }
    nav a:hover {
      color: green; }
